.box-fs-table {
    border: 1px solid rgba(0,0,0,.05);
    border-radius: 8px;
    background-color: #fff;
    background-clip: border-box;
    -webkit-box-shadow: 0 0 2rem 0 rgba(136,152,170,.15)!important;
    box-shadow: 0 0 2rem 0 rgba(136,152,170,.15)!important;
    padding: 0;
}